.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}

.logo {
  display: flex;
  align-items: center;
}
.button {
  margin: 10px;
}

.container {
  background-color: lightblue;
  padding: 20px;
}
